@tailwind base;
@tailwind components;
@tailwind utilities;

.readmorebtn {
    background: var(--Linear, linear-gradient(90deg, #FF8C47 0%, #F75B5F 100.02%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}